/* Above */

body {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size:  1rem;
    background-image: url("Images/background.jpeg");
    background-size: 200px;
    background-repeat: repeat;
    background-attachment: fixed;
}

div.stickybar {
    width: 100%;
    background: white;
	overflow: auto;
}

    div.sticky_logo {
        margin: 2px 5px;
	    float: left;
        background: url("Images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 30px;
        width: 150px;
    }
    div.sticky_logo:hover {
        cursor: pointer;
    }
    div.sticky_logo:active {
	    border: inset 2px;
    }

    div.sticky_link {
        text-align: center;
	    vertical-align: middle;
        font-family:'Courier New', Courier, monospace;
        font-size: small;
        background-color: white;
        color: brown;
        border: outset 2px;
	    float: right;
	    padding: 0.3%;
	    margin-top: 2px;
    }
    div.sticky_link:hover {
        color: black;
        border: inset 2px;
        cursor: pointer;
    }
    div.sticky_link:active {
        color: red;
    }

div.scrollbar {
    background-color: black;
	float: center;
	margin: 10px;
	width: inherit;
	height: 360px;
	overflow-x: scroll;
}

    div.scroll_image {
        float: left;
    }
    #scroll_image_left {
        background: url("Images/net_server_1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 360px;
        width: 540px;
    }
    #scroll_image_center {
        background: url("Images/net_server_2.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 360px;
        width: 540px;
    }
    #scroll_image_right {
        background: url("Images/net_server_3.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 360px;
        width: 540px;
    }


div.info_block {
    background-color: rgb(72, 72, 72);
    background-size: contain;
    background-position: center;
    padding: 100px 100px 0px 100px;
    height: 360px;
    margin: 100px;
    border: groove rgb(192, 192, 192) 5px;
    box-shadow: 10px 10px 5px black;
}
    div.text_block {
	    float: left;
        font-family:'Courier New', Courier, monospace;
        font-size: smaller;
        color: white;
        background-color: black;
        max-width: 250px;
        padding: 20px;
        margin: 20px;
        margin-top: 75px;
    }

    div.info_image {
        background: url("Images/admin_1.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 180px;
        width: 270px;
        margin: 10px;
        padding: 20px;
        float: left;
    }

div.page_description {
    background-color: dimgray;
    font-family:'Courier New', Courier, monospace;
    color: white;
    margin: 10px;
    padding: 10px;
}
    div.description_head {
        font-weight: bold;
        color: brown;
        font-size: 2rem;
    }
    div.description_subhead {
        color: black;
        font-size: 1.2rem;
    }
    div.description_text {
        margin: 5px;
        padding: 5px;
    }

/* and Beyond */