/* Above */

body {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    font-size:  1rem;
    background-image: url("Images/background.jpeg");
    background-size: 200px;
    background-repeat: repeat;
    background-attachment: fixed;
}

div.stickybar {
    width: 100%;
    background: white;
	overflow: auto;
}

    div.sticky_logo {
        margin: 2px 5px;
	    float: left;
        background: url("Images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 20px;
        width: 140px;
    }
    div.sticky_logo:hover {
        cursor: pointer;
    }
    div.sticky_logo:active {
	    border: inset 2px;
    }

    div.sticky_link {
        text-align: center;
	    vertical-align: middle;
        font-family:'Courier New', Courier, monospace;
        font-size: small;
        background-color: white;
        color: brown;
        border: outset 2px;
	    float: right;
	    padding: 0.3%;
	    margin-top: 2px;
    }
    div.sticky_link:hover {
        color: black;
        border: inset 2px;
        cursor: pointer;
    }
    div.sticky_link:active {
        color: red;
    }

div.scrollbar {
    background-color: black;
	float: center;
	margin: 10px;
	width: inherit;
	min-height: 105px;
	max-height: 200px;
	overflow-x: auto;
	overflow-y: auto;
}

    div.scroll_image {
        float: left;
	    width: 400px;
    }


div.info_block {
    background-color: dimgray;
}
    div.text_block {
	    float: right;
        font-family:'Courier New', Courier, monospace;
        font-size: smaller;
        color: white;
        background-color: black;
        max-width: 250px;
    }

    div.info_image {
        margin: 50px;
    }

/* and Beyond */